@media screen and (min-width:600px) {
    /* 
    For Tablet Design 
    */

    .btn {
        font-size: 3rem;
        /* padding: 0px 15px 10px; */
    }

    .logo-text {
        font-size: 4rem;
    }

    nav {
        font-size: 2.5rem;
        padding: 12px 20px;
    }

    .nav-top {
        top: 13.5%;
    }

    .protfolio-img {
        width: 80%;
        margin: 0px auto;
    }

    .protfolio-info {
        font-size: 5rem;
        width: 450px;
        margin: -69px auto 0px;
    }

    .get-tuch-btn {
        width: 50%;
        margin: 20px auto;
    }

    #my-achievement {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 60px 0px;
    }

    #my-achievement>div {
        width: 47%;
    }

    .achievement-icon {
        width: 70px;
        height: 70px;
        font-size: 4rem;
    }

    .experience i {
        font-size: 5.3rem;
    }

    .my-image {
        height: 450px;
        width: 400px;
    }

    h3.section-name {
        font-size: 3rem;
    }

    h4.section-title {
        font-size: 3rem;
    }

    p.section-info {
        font-size: 2rem;
    }

    .about-btn {
        flex-direction: row;
    }

    .about-btn>.btn {
        font-size: 2rem;
        width: 30%;
    }

    .technology {
        height: 52px;
        width: 250px;
    }

    .icon>div>div {
        width: 130px;
        height: 130px;
    }

    .icon-name {
        top: -55px;
    }

    #project {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        grid-gap: 30px;
    }

    #project .section-data{
        position: absolute;
        top: 0;
        width: 95%;
    }

    #project>div {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
        margin-top: 130px;
    }

    figure>a {
        position: relative;
    }

    .col1>figure{
        height: 550px;
    }

    .project-3{
        height: 450px;
    }

    .project-4{
        height: 440px;
    }

    .project-5{
        height: 761px;
    }

    .contact-icon {
        font-size: 3rem;
    }

    h5.contact-title {
        font-size: 2.5rem;
    }

    .contact-detels,
    .contact-detels>a {
        font-size: 2rem;
    }

    #contact-us>form {
        width: 70%;
        margin: 20px auto;
        padding: 15px;
    }

    label {
        font-size: 2.5rem;
    }

    .input-box {
        height: 50px;
        margin-bottom: 20px;
    }

    input,
    textarea {
        font-size: 2rem !important;
    }

    .comment {
        height: 150px;
    }

    input[type="submit"] {
        height: 50px;
        font-size: 3rem !important;
    }

    .copy-right {
        font-size: 2.5rem;
    }


    .skills-icon>div:hover .icon-name {
        opacity: 1;
        top: -40px;
    }
}


@media screen and (min-width:1024px) {

    /* -----

    For PC/Laptop Design 

    -----*/

    nav {
        border: none;
        position: absolute;
        z-index: 5;
        width: 60%;
        margin: 32px 25%;
        top: -10px;
        background-color: transparent !important;
    }

    nav>a {
        font-size: 2.5rem;
    }

    .mode {
        padding-top: 1.6px;
    }

    .sidebar-btn {
        display: none;
    }

    .nav-top {
        top: 0%;
    }

    .protfolio-img {
        width: 55%;
        height: 430px;
    }

    .protfolio-img>img {
        height: 564px
    }

    .protfolio-info {
        color: white;
        text-shadow: 1px 1px 2px black;
    }

    .get-tuch-btn {
        color: var(--black);
        text-shadow: .5px .5px 1px black;
        box-shadow: .5px .5px 3px black;
        border-color: white;
        width: 30%;
        margin: 0px auto 20px;
        font-size: 2rem;
        height: 40px;
    }

    .get-tuch-btn:active {
        box-shadow: none;
    }

    #my-achievement {
        grid-gap: 100px;
    }

    #my-achievement>div {
        width: 40%;
        padding: 10px 15px;
        grid-gap: 10px;
    }

    .achievement-topic {
        font-size: 1.9rem;
    }

    #about {
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-gap: 100px;
        position: relative;
    }

    p.section-info {
        margin: 30px 0px;
    }


    .my-image {
        height: 400px;
        width: 2200px;
        margin: 0px;
    }

    .about-btn>.btn {
        width: 40%;
    }

    .section-data {
        position: relative;
        margin-left: 15px;
    }

    h3.section-name {
        position: absolute;
        left: -60px;
        top: 40px;
        transform: rotateZ(270deg);
        text-decoration: none;
        font-size: 1.7rem;
    }

    h3.section-name::after {
        content: "";
        position: absolute;
        top: 10px;
        left: -105px;
        width: 70px;
        height: 2px;
        background: #404040;
    }

    #skill {
        flex-direction: row;
    }

    .icon {
        width: 1300px;
        margin-top: 40px;
    }

    .icon>div>div {
        width: 90px;
        height: 90px;
    }

    #project .section-data {
        width: 447px;
        position: relative;
    }

    #project .section-info {
        margin: 10px 0px;
    }

    #project>div{
        margin-top: 0px;
    }

    .col1>figure{
        height: 717px;
    }


    .project-6{
        display: none;
    }

    .social {
        margin-top: 25px;
    }

    #contact-us {
        flex-direction: row;
    }

    #contact-us>form {
        width: 100%;
        margin: 0px;
        padding: 10px;
    }

    .input-box {
        height: 30px;
        margin-bottom: 10px;
    }

    .comment {
        height: 150px;
    }

    input {
        font-size: 1.7rem !important;
    }

    input[type="submit"] {
        height: 40px;
        font-size: 2.5rem !important;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .copy-right {
        font-size: 2rem;
    }

}


@media screen and (min-width:1200px) {

    /* 

For Learge Screen 

 */


    header {
        padding: 1% 3%;
    }

    section {
        padding: 5%;
        padding-top: 7%;
    }

    nav {
        margin: 27px 25%;
    }

    nav>a {
        font-size: 3rem;
    }

    .mode {
        width: 70px;
        height: 35px;
        padding-right: 7px;
        padding-left: 3px;
        align-items: flex-start;
        padding-top: 4%;
    }

    .mode>i {
        font-size: 3rem;
    }

    .protfolio-img>img {
        height: 600px;
    }

    .protfolio-img {
        height: 455px;
    }

    .get-tuch-btn {
        font-size: 3rem;
        height: 50px;
    }

    .achievement-value {
        font-size: 5rem;
    }

    .achievement-topic {
        font-size: 3rem;
    }

    .icon-value {
        width: 81%;
    }

    h3.section-name {
        left: -75px;
        font-size: 2rem;
    }

    h4.section-title {
        font-size: 4rem;
    }

    p.section-info {
        font-size: 2.2rem;
    }

    .about-btn>.btn {
        font-size: 2.5rem;
    }

    #project .section-data {
        width: 500px;
    }

    #project>div {
        margin-top: 0px;
        height: 100%;
    }

    .project-5{
        height: 800px;
    }

    #contact-us>form {
        width: 60%;
    }

    .input-box {
        height: 40px;
    }

    .comment {
        height: 120px;
    }

    input[type="submit"] {
        height: 50px;
        font-size: 2.8rem !important;
    }

    input {
        font-size: 1.8rem !important;
    }

    h5.contact-title {
        font-size: 2.5rem;
    }

    .contact-icon {
        margin-left: -34px;
        font-size: 3rem;
    }

}