@media screen and (min-width:600px) {
    /* 
    For Tablet Design 
    */

    .btn {
        font-size: 3rem;
        padding: 10px 15px;
    }

    .logo-text {
        font-size: 4rem;
    }

    .protfolio-img {
        width: 80%;
        margin: 0px auto;
    }

    .protfolio-info {
        font-size: 5rem;
        width: 450px;
        margin: -69px auto 0px;
    }

    .get-tuch-btn {
        width: 50%;
        margin: 20px auto;
    }

    #my-achievement {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 60px 0px;
    }

    #my-achievement>div {
        width: 47%;
    }

    .achievement-icon {
        width: 70px;
        height: 70px;
        font-size: 4rem;
    }

    .experience i {
        font-size: 5.3rem;
    }

    .my-image {
        height: 450px;
        width: 400px;
    }

    h3.section-name {
        font-size: 3rem;
    }

    h4.section-title {
        font-size: 3rem;
    }

    p.section-info {
        font-size: 2rem;
    }

    .about-btn {
        flex-direction: row;
    }

    .about-btn>.btn {
        font-size: 2rem;
        width: 30%;
    }

    .technology {
        height: 52px;
        width: 250px;
    }

    .icon>div>div {
        width: 130px;
        height: 130px;
    }

    .icon-name {
        top: -40px;
        font-size: 2rem;
    }

    #project {
        position: relative;
    }


    figure {
        width: 48%;
        border: .5px solid rgb(0, 0, 0);
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        height: 400px;
        /* position: absolute; */
    }

    figure>a {
        position: relative;
    }

    .project-2 {
        position: absolute;
        top: 12.5%;
        right: 15px;
        height: 300px !important;
    }

    .project-4 {
        position: absolute;
        top: 34%;
        right: 15px;
        height: 365px !important;
    }

    .project-6 {
        position: absolute;
        bottom: 2%;
        right: 15px;
        height: 550px !important;
    }

    .contact-icon {
        font-size: 3rem;
    }

    h5.contact-title {
        font-size: 2.5rem;
    }

    .contact-detels,
    .contact-detels>a {
        font-size: 2rem;
    }

    #contact-us>form {
        width: 70%;
        margin: 20px auto;
        padding: 15px;
    }

    label {
        font-size: 2.5rem;
    }

    .input-box {
        height: 50px;
        margin-bottom: 20px;
    }

    input,
    textarea {
        font-size: 2rem !important;
    }

    .comment {
        height: 150px;
    }

    input[type="submit"] {
        height: 50px;
        font-size: 3rem !important;
    }

    .copy-right {
        font-size: 2.5rem;
    }
}


@media screen and (min-width:1024px) {

    /* 

    For PC/Laptop Design 

    */

    nav {
        border: none;
        position: absolute;
        z-index: 1;
        width: 55%;
        margin: 32px 25%;
        top: 0;
    }

    nav>a {
        font-size: 2rem;
    }

    .sidebar-btn {
        display: none;
    }

    .protfolio-img {
        width: 55%;
        height: 430px;
    }

    .protfolio-img>img {
        height: 564px
    }

    .protfolio-info {
        color: white;
        text-shadow: 1px 1px 2px black;
    }

    .get-tuch-btn {
        color: white;
        text-shadow: .5px .5px 1px black;
        box-shadow: .5px .5px 3px black;
        border-color: white;
        width: 30%;
        margin: 0px auto 20px;
        font-size: 2rem;
    }

    .get-tuch-btn:active {
        box-shadow: none;
    }

    #my-achievement {
        grid-gap: 100px;
      }

    #my-achievement>div {
        width: 31%;
        padding: 10px 15px;
        grid-gap: 10px;
    }

    .achievement-topic {
        font-size: 1.9rem;
    }

    #about {
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-gap: 100px;
        position: relative;
    }

    p.section-info {
        margin: 30px 0px;
    }


    .my-image {
        height: 400px;
        width: 2200px;
        margin: 0px;
    }

    .about-btn>.btn {
        width: 40%;
    }

    .section-data {
        position: relative;
        margin-left: 15px;
    }

    h3.section-name {
        position: absolute;
        left: -60px;
        top: 40px;
        transform: rotateZ(270deg);
        text-decoration: none;
        font-size: 1.7rem;
    }

    h3.section-name::after {
        content: "";
        position: absolute;
        top: 10px;
        left: -105px;
        width: 70px;
        height: 2px;
        background: #404040;
    }

    #skill {
        flex-direction: row;
    }

    .icon {
        width: 1300px;
        margin-top: 40px;
    }

    .icon>div>div {
        width: 90px;
        height: 90px;
    }

    #project .section-data {
        width: 447px;
    }

    #project .section-info {
        margin: 10px 0px;
    }

    .project-2 {
        top: 0%;
        height: 410px !important;
    }

    .project-4 {
        top: 28%;
        height: 430px !important;
    }

    .project-6 {
        height: 630px !important;
    }


    .social {
        margin-top: 25px;
    }

    #contact-us {
        flex-direction: row;
    }

    #contact-us>form {
        width: 100%;
        margin: 0px;
        padding: 10px;
    }

    .input-box {
        height: 30px;
        margin-bottom: 10px;
    }

    .comment {
        height: 150px;
    }

    input {
        font-size: 1.7rem !important;
    }

    input[type="submit"] {
        height: 40px;
        font-size: 2.5rem !important;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .copy-right {
        font-size: 2rem;
    }

}


@media screen and (min-width:1200px) {

    /* 
For Learge Screen 
 */


    header,
    section {
        padding: 5%;
    }

    nav {
        margin: 40px 25%;
    }

    nav>a {
        font-size: 3rem;
    }

    .mode {
        width: 70px;
        height: 35px;
    }

    .mode>i {
        font-size: 2.8rem;
    }

    .protfolio-img>img {
        height: 600px;
    }

    .protfolio-img {
        height: 455px;
    }

    .achievement-value {
        font-size: 6rem;
    }

    .achievement-topic {
        font-size: 3rem;
    }

    h3.section-name {
        left: -75px;
        font-size: 2rem;
    }

    h4.section-title {
        font-size: 4rem;
    }

    p.section-info {
        font-size: 2.2rem;
    }

    .about-btn>.btn {
        font-size: 2.5rem;
    }

    #project .section-data {
        width: 600px;
    }

    figure {
        width: 40%;
        margin: 0px 6%;
    }
    
    .project-2{
        margin: 0px 2%;
    }



    .project-4 {
        top: 26.5%;
        height: 480px !important;
    }

    .project-6 {
        position: absolute;
        bottom: 4.4%;
        right: 15px;
        height: 620px !important;
    }

    #contact-us>form {
        width: 60%;
    }

    .input-box {
        height: 40px;
    }

    .comment {
        height: 120px;
    }

    input[type="submit"] {
        height: 50px;
        font-size: 2.8rem !important;
    }

    input {
        font-size: 1.8rem !important;
    }

    h5.contact-title {
        font-size: 2.5rem;
    }

    .contact-icon {
        margin-left: -34px;
        font-size: 3rem;
    }

}